// modules
@use "sass:math";

// variables
$border-color: #d6d6da; // this is from the redesign palette
$border-radius: 4px;
$vertical-space: 1em;
$standard-block-padding: 0.5em;
$standard-heading-margin: 0.75em;
$standard-block-margin: 1.5em;
$min-newsletter-width: 50%;
$form-width: 45%;
$media-query-small: 40em;
$media-query-medium: 60em;
$media-query-large: 65em;

.m-form-minnpost-form-processor-mailchimp {

	// across all forms
	input[type="email"] {
		padding: math.div($standard-block-padding, 2);
	}

	.m-form-message.m-form-message-ajax-placeholder {
		display: none;
	}

	button[type="submit"] {
		white-space: nowrap;
	}

	// full page forms
	&.m-form-fullpage {

		.m-form-container {
			padding: 0;
			position: relative;
		}

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;
		}

		input {
			width: 100%;
		}

		.m-subscribe-grouping {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;

			article {
				border: 1px solid $border-color;
				border-radius: $border-radius;
				padding: $vertical-space;
				margin-bottom: $standard-block-margin;
			}

			.m-subscribe-items {

				@media screen and (min-width: $media-query-small) and (max-width: $media-query-medium) {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					flex: 1 0 $min-newsletter-width;
					flex-direction: column;
				}

				@media screen and (min-width: $media-query-large) {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					flex: 1 0 $min-newsletter-width;
					flex-direction: column;
				}

				article {
					flex: 0 0 $min-newsletter-width;
					padding: $standard-block-padding;
					margin-bottom: $vertical-space;

					label {
						cursor: pointer;
						width: 100%;
						position: relative;

						h3,
						h4 {
							margin: 0 0 math.div($standard-block-padding, 2) 0;
							text-transform: none;
						}

						input[type="checkbox"] {
							width: auto;
							position: absolute;
							top: 0;
							right: 0;
						}
					}
				}
			}

			.m-subscribe {
				padding: $vertical-space;
				flex: 1 0 $form-width;
				position: sticky;
				top: math.div($standard-block-padding, 2);

				@media screen and (min-width: $media-query-small) and (max-width: $media-query-medium) {
					margin-left: $vertical-space;
				}

				@media screen and (min-width: $media-query-large) {
					margin-left: $vertical-space;
				}

				button {
					width: 100%;
				}

				input {
					margin: $standard-block-padding 0 $standard-heading-margin 0;
				}

				aside {
					font-size: $standard-heading-margin;
				}
			}
		}
	}

	// widget forms
	&.m-widget {
		font-size: 95%;
		margin: $vertical-space auto 20px auto;

		.m-form-container {
			padding: 0;

			p,
			fieldset {
				padding: 0 $standard-block-padding;
			}
		}

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;
		}

		input {
			width: 90%;
		}

		input:last-of-type {
			margin-bottom: $standard-block-padding;
		}
	}

	// instory forms
	&.m-form-instory {

		.m-form-container {
			padding: 0;
		}

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;

			input {
				width: 100%;
			}
		}
	}

	// inpopup forms
	&.m-form-inpopup {
		border: 0;
		padding: $vertical-space 0 $standard-block-padding 0;
		.m-form-container {
			padding: 0;
			h3, h4, p, fieldset {
				padding: 0;
				margin-bottom: $standard-heading-margin;
				&:last-child {
					margin-bottom: 0;
				}
			}
			h3,
			h4 {
				padding: 0 $standard-block-padding;
				margin-top: $standard-block-padding;
			}
		}
		fieldset {
			border: 0;
			margin: 0;
			padding: 0;
			input {
				width: 100%;
			}
		}
	}

	// standalone forms that aren't full pages
	&.m-form-standalone {

		.checkboxes {

			input[type="checkbox"],
			input[type="radio"] {
				margin-right: $standard-block-padding;
			}
		}
	}
}

.m-form-minnpost-form-processor-mailchimp.m-form-minnpost-form-processor-mailchimp-has-content {

	// instory forms
	&.m-form-instory {
		border: 1px solid $border-color;
		padding: $standard-block-padding 0 $standard-block-margin 0;
		margin-bottom: $standard-block-margin;

		.m-form-container {
			padding: 0 $standard-block-padding;

			h3,
			h4,
			p,
			fieldset {
				padding: 0 $standard-block-padding;
				margin-bottom: $standard-heading-margin;

				&:last-child {
					margin-bottom: 0;
				}
			}

			h3,
			h4 {
				padding: 0 $standard-block-padding;
				margin-top: $standard-block-padding;
			}
		}
	}
}

// sticky needs a style for when the admin bar is active
body.admin-bar {

	.m-form-minnpost-form-processor-mailchimp.m-form-fullpage .m-subscribe-grouping .m-subscribe {
		top: 2.25em;
	}
}
